{% extends 'isfrost_app/__base.html' %}
{% block content %}
<div class="hero-content" 
	style="
		background: url('{{index.cover_image.url}}') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;">
	<div class="container-fluid d-flex align-items-stretch">
		<div class="row">
			<div class="col-xl-6 offset-xl-6 col-lg-8 offset-lg-4 d-flex align-items-md-end align-items-center">
				<div class="hero-box">
					<h1 class="display-5 hero-title"></h1>
					<p class="lead">{{index.introduction}}</p>
					<hr class="my-4" />
					<p>Ef þú hefur einhverjar fyrirspurnir, ekki hika við að senda okkur skilaboð!</p>
					<a href="#" role="button" data-toggle="modal" data-target="#contact-modal" class="btn btn-outline-secondary">
						<i class="btn-left-icon fa fa-envelope"></i>
						Hafa samband
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid index-buttons">
	<div class="row">
		<div class="col-3 index-button">
			<a href="#thjonustan"></a>
			<span>
				<i class="fa fa-briefcase"></i>
			</span>
			<p>Þjónustan</p>
		</div>
		<div class="col-3 index-button">
			<a href="#vorurnar"></a>
			<span>
				<i class="fa fa-shopping-cart"></i>
			</span>
			<p>Vörurnar</p>
		</div>
		<div class="col-3 index-button">
			<a href="#um-okkur"></a>
			<span>
				<i class="fa fa-info"></i>
			</span>
			<p>Um okkur</p>
		</div>
		<div class="col-3 index-button">
			<a href="#upplysingar"></a>
			<span>
				<i class="fa fa-location-arrow"></i>
			</span>
			<p>Upplýsingar</p>
		</div>
	</div>
</div>
<div class="container main-content">
	<div id="thjonustan" class="row">
		<div class="col-12">
			<hr/>
			<h3>Þjónustan</h3>
			<p>Ísfrost ehf er fyrst og fremst þjónustufyrirtæki. Við þjónustum nánast allt sem við kemur kæli og frystikerfum.</p>
			<hr/>
		</div>
	</div>
	<div class="row content-row">
		{% for category in service_categories %}
			<div class="col-lg-4 col-md-6 col-12 d-flex">
				<div class="card content-card align-self-stretch">
					<div class="card-block">
						<h3 class="card-title">{{category.category_name}}
							<span class="pull-right">
								<i class="fa fa-{{category.category_icon}}"></i>
							</span>
						</h3>
						<p class="card-text">
							{{category.category_description}}
						</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary pull-right">Skoða nánar</a>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="col-md-4 offset-md-8 col-xl-3 offset-xl-9 col-12">
			<a href="{% url 'main:service_categories' %}" class="btn btn-block btn-secondary index-info-btn">
				Skoða alla þjónustuflokka
				<i class="btn-right-icon fa fa-arrow-right"></i>
			</a>
		</div>
	</div>
	<div id="vorurnar" class="row">
		<div class="col-12">
			<hr/>
			<h3>Vörurnar</h3>
			<p>
				Hvort sem þig vantar loftkælingu í tölvurýmið, frystiklefa á veitingahúsið eða varmadælu í sumarbústaðinn, þá erum við með
				lausnina. Áratuga reynsla og viðurkenndur búnaður tryggja þér bestu mögulegu útkomu, sama hvert verkefnið er.
			</p>
			<hr/>
		</div>
	</div>
	<div class="row content-row">
		<div class="col-12">
			{% for category in product_categories %}
				<div class="row">
					<div class="col-4 d-flex align-items-center desktop-product-img">
						<img src="{{ category.category_image.url }}", class="img-fluid product-img" />
					</div>
					<div class="col-md-8 col-12 d-flex align-items-center">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<hr/>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<h4>{{category.category_name}}</h4>
								</div>
							</div>
							<div class="row mobile-product-img">
								<div class="col-12">
									<img src="{{ category.category_image.url }}", class="img-fluid product-img" />
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<p>{{category.category_description}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<a href="#" class="btn btn-primary pull-right product-btn">Skoða nánar</a>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<hr/>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-md-4 offset-md-8 col-xl-3 offset-xl-9 col-12">
			<a href="{% url 'main:product_categories' %}" class="btn btn-block btn-secondary index-info-btn">
				Skoða alla vöruflokka
				<i class="btn-right-icon fa fa-arrow-right"></i>
			</a>
		</div>
	</div>
		
	<div id="um-okkur" class="row">
		<div class="col-12">
			<hr/>
			<h3>Um okkur</h3>
			<p></p>Saga Ísfrost ehf nær aftur til 1994 þegar Jón Friðrik Egilsson og Guðmundur Brynjólfsson hófu rekstur í litlum bílskúr
			í Grafarvogi.
			<hr/>
		</div>
	</div>
	<div class="row content-row">
		<div class="col-lg-4 col-md-6 col-12 d-flex">
			<div class="card content-card align-self-stretch">
				<div class="card-block">
					<h3 class="card-title">Starfsmenn
						<span class="pull-right">
							<i class="fa fa-user"></i>
						</span>
					</h3>
					<p class="card-text">Hér er hægt að nálgast allar helstu upplýsingar um starfsmenn Ísfrost.</p>
				</div>
				<div class="card-footer">
					<a href="#" class="btn btn-primary pull-right">Skoða nánar</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-12 d-flex">
			<div class="card content-card align-self-stretch">
				<div class="card-block">
					<h3 class="card-title">Um fyrirtækið
						<span class="pull-right">
							<i class="fa fa-snowflake-o"></i>
						</span>
					</h3>
					<p class="card-text">Nánari upplýsingar um þá þjónustu sem við veitum og fyrirtækið okkar er hægt að nálgast hér.</p>
				</div>
				<div class="card-footer">
					<a href="#" class="btn btn-primary pull-right">Skoða nánar</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-12 d-flex">
			<div class="card content-card align-self-stretch">
				<div class="card-block">
					<h3 class="card-title">Vörurnar
						<span class="pull-right">
							<i class="fa fa-shopping-cart"></i>
						</span>
					</h3>
					<p class="card-text">
						Við aðstoðum viðskiptavini okkar eftir fremsta megni, hér geturu nálgast helstu upplýsingar um þjónustuna okkar.
					</p>
				</div>
				<div class="card-footer">
					<a href="#" class="btn btn-primary pull-right">Skoða nánar</a>
				</div>
			</div>
		</div>
	</div>
	{% if articles.length != 0 %}
		<div id="frettir" class="row">
			<div class="col-12">
				<hr/>
				<h3>Fréttir</h3>
				<p>
					Nýjungar og fréttir af störfum Ísfrosts eru fáanlegar hér
				</p>
				<hr/>
			</div>
		</div>
		<div class="row content-row">
			{% for article in articles %}
				<div class="col-lg-4 col-md-6 col-12 d-flex">
					{% include "isfrost_app/_article_card.html" with article=article %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
{% endblock %}